<!-- Handmade with ♥ and Grav by jamieguerrero.com -->
{% set theme_config = attribute(config.themes, config.system.pages.theme) %}
<!DOCTYPE html>
<html lang="{{ grav.language.getActive ?: theme_config.default_lang }}">
<head>
{% block head %}
    <meta charset="utf-8" />
    <title>{% if header.title %}{{ header.title|e('html') }} | {% endif %}{{ site.title|e('html') }}</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% include 'partials/metadata.html.twig' %}

    <link rel="icon" type="image/png" href="{{ url('theme://images/logo.png') }}" />
    <link rel="canonical" href="{{ page.url(true, true) }}" />

    {% block stylesheets %}
        {% do assets.addCss('https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css', 99) %}
        {% do assets.addCss('theme://css/main.css', 98) %}
        {% do assets.addCss('https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.css', 97) %}
    {% endblock %}
    {{ assets.css() }}

    {% block javascripts %}
        {% do assets.addJs('theme://js/instafeed.min.js', 101) %}
        {% do assets.addJs('theme://js/modernizr.custom.js', 100) %}
        {% do assets.addJs('https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.js', 99) %}
        {% do assets.addJs('http://code.jquery.com/jquery-2.1.4.min.js', {'priority':99, 'group':'bottom'}) %}
        {% do assets.addJs('theme://js/jquery.sticky.js', {'priority':98, 'group':'bottom'}) %}
        {% do assets.addJs('theme://js/classie.js', {'priority':97, 'group':'bottom'}) %}
        {% do assets.addJs('theme://js/demo1.js', {'priority':96, 'group':'bottom'}) %}
        {% do assets.addJs('https://maps.googleapis.com/maps/api/js?key=AIzaSyC6M62PK7x0Ow_McUaaptbj4YsuGNv1PuY&callback=initMap', {'priority':95, 'loading':'async defer', 'group':'bottom'}) %}
    {% endblock %}
    {{ assets.js() }}

{% endblock head%}
</head>
<body id="top" class="{{ page.header.body_classes }}">

{% block header %}
<div id="content-wrapper">
<div class="overlay overlay-hugeinc">
  <button type="button" class="overlay-close">Close</button>
    <!-- Mobile Nav -->
    {% block mobile_navigation %}
    <nav id="mobile-nav">
        {% include 'partials/navigation.html.twig' %}
    </nav>
    {% endblock %}
</div>
<!-- everything centered on mobile -->
<header class="header-wrapper section-light">
  <!-- Logo + Title -->
  <img class="logo-img" src="{{url('theme://images/ctms-logo-2018.svg')}}">
  <!-- Add Social buttons -->
  <div id="bouncing-arrow" class="arrow bounce">
    <a class="fa fa-arrow-down fa-2x" href="#"></a>
  </div>
  <!-- Mobile Nav Button -->
  <div class="mobile-nav">
    <a id="trigger-overlay" class="menu-button" type="button" href="#"><img class="mobile-button" src="{{url('theme://images/mobile-button.svg')}}"></a>
  </div>

</header>
<!-- Full Nav -->
{% block header_navigation %}
<div class="full-nav__wrapper section-light">
  <nav id="full-nav">
      {% include 'partials/navigation.html.twig' %}
  </nav>
</div>
{% endblock %}
{% endblock %}

{% block body %}
  {% block content %}{% endblock %}
{% endblock %}

{% block map %}
<section>
  <div class="section-map">
    <div id="map"></div>
    <div class="map-overlay"><h1>BASED IN BRAMPTON. <br>AVAILABLE IN THE GTA.</h1></div>
  </div>
</section>
{% endblock  %}

{% block footer %}
<footer id="footer">
  <div class="footer-wrapper section-mid">
    <div class="footer--innerwrapper">
    <!-- <div class="footer--innerwrapper" data-aos="fade-up" data-aos-delay="300" data-aos-duration="1500" > -->
      <div class="contact-wrapper">
        <!-- CONTACT phone # and email link -->
        <h1>get in touch today!</h1>
        <!-- CONTACT form -->
        <a href="mailto:chynna@ctmusicstudio.ca?Subject=Hi%20there">chynna@ctmusicstudio.ca</a>
      </div>
      <form method="POST" name="contactform" action="http://formspree.io/chynna@ctmusicstudio.ca">
        <input class="contact-form" type="text" name="name" placeholder="name">
        <input class="contact-form" type="text" name="email" placeholder="email">
        <textarea class="contact-form contact-content" name="message" placeholder="message"></textarea>
        <input class="contact-form contact-button" type="submit" name="submit"><br>
      </form>
    </div>
  </div>
</footer>
{% endblock %}
</div>
<!--content-wrapper div end-->
{% block bottom %}
    {{ assets.js('bottom') }}
    <!-- <script>
      $(document).ready(function(){
        $(document).scroll(function() {
          $('.logo-img').css({width: $(this).scrollTop() > 100? "30%":"100%"});
        });
      });
    </script> -->
    <script>
      $(document).ready(function(){
        $('.full-nav__wrapper').sticky({topSpacing:0});
        $(".logo-img").animate({"opacity": "1"}, 700);
        $(".arrow").delay(1500).animate({"opacity": "1"}, 700);
      })
    </script>
    <script>
      AOS.init();

      var map;
      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: 43.6627635, lng: -79.7951424},
          zoom: 14,
          scrollwheel: false,
          styles: [{"featureType":"administrative","elementType":"labels.text.fill","stylers":[{"color":"#444444"}]},{"featureType":"administrative.country","elementType":"labels.text","stylers":[{"visibility":"off"}]},{"featureType":"landscape","elementType":"all","stylers":[{"color":"#f2f2f2"}]},{"featureType":"poi","elementType":"all","stylers":[{"visibility":"off"}]},{"featureType":"road","elementType":"all","stylers":[{"saturation":-100},{"lightness":45}]},{"featureType":"road.highway","elementType":"all","stylers":[{"visibility":"simplified"}]},{"featureType":"road.arterial","elementType":"labels.icon","stylers":[{"visibility":"off"}]},{"featureType":"transit","elementType":"all","stylers":[{"visibility":"off"}]},{"featureType":"water","elementType":"all","stylers":[{"color":"#c1c1c1"},{"visibility":"on"}]}]
        });
      }
    </script>
    {{ assets.js('map') }}
{% endblock %}

</body>
