<!--
                                                  ....;;;;;;;;
                                           ;;ssSE53E53551tttttt325ss;.
                                       .;p#5zztttttttztt:tztittztttttZ5e;.
                                    .;SEtzttttttttttttt;ztttttttttttttttt35s.
                                  ;@E5ctttttttttttttttttttttizzztttttztttttt3k.
                               .;E5:zt:zttttttttttttttttttzzttttttttttttttttttt5L.
                              ;@E:;itzztztttttttztttttttttttttttttttttttttttttttt3k.
                            .gEt:itcit:tt;ztttttttttttttzttttzttttttttttttttttttttt3c
                           ;#5::t1cz::zz1ttctttttttttztc:!::;!tttttt1ttttttztttttttt3k.
                          yE::tc:tt:zztzttttzttttz5tt!:::::::::::t::!::tttttttttttttttQ.
                        .#5::::::::ttztttzttttt37!::::::::::::::::::::::::tttttttttttttXL.
                       ;E::::::c1t3ttt:tttttt37!:::::::::::::::::::::::::::zttttttttttttX.
                      zEt:::::::t:t1:zzttzzz!:::::::::::::::::::::::::::::::ttttttttttttt3.
                     ;Ez:::t:ictt1zztttt3Z:::::::::::::::::::::::::::::::::::tttttttttttttX.
                    ;5::::zzz33tttzttttt::::::::::::::::::::::::::::::::::::::ttttttttttttt$.
                   :5E!c::ttttzttztttt1iz::::::::::::::::::::::::::::::::::::::tttttttttttt3k.
                  :EE!:!zztttzEztztttttz::::::::::::::::::::::::::::::::::::::::tttttttttttt3L
                 :Z1::::zttttttz1tttt3E:::::::::cz!!i2czz;zc;:::::::::::::zztt5tttttttttttttt3.
                :JE:::ttttttttzttttt3E::::::::z2zzzk2izz:1::z::::::::::::::tc3zcttttttttttttt3)
               :;5c::ttttttttttttttzt:::::::::::::::::::::::::::::::::::::::::::::tttttttttttt[t
               :5E:::tttttttttttttt3F::::::::::::;;xzzzzzzc;::::::::::::::zjiz;j1ztttttttttttt3[L
              :;tt:tztttttjzjtttttz3.::::.::::;c1tZ5BX33EZ5zc:;:::::::::tZ3Ez31:1tttttttttttttt11
             ::5t:t:ttttzE];!3zttz:tL::::J.:::::::!:=t535ct:t:c:::::::::7tt5cE::ztttttttttttttt3Ll
             :Jt::tzttttt33E::t!:t::J:::::!:::::!::=z;;;;;zz::::::::::::::::::::::ttttttttttttt3[1.
            :;1::ttttttttttE:::i;::::):::::::::::::::::::::::::::::::::::::::::::::::tttttttttt3E3L
            /;t::tzttttttit3F::::!:c::.::::::::::::::::::::::::::::::::::::::::::::::ttttttttttzE:)
            ;t::ti:ttttttt5zt::::::\:=:::::::[[::::::::::::::::::::::::::::::::::::::ztttttttttI1c[
            t:zttzttttttttt3L::::::::.:::::::32.::::::::::;:E:::::::::::::::::::::::::EtttttttttZ:t
           z:ttttztttttttt3E:::::::::.:::::::5c::::::::;t:3L::=::::::::::::::::::::::Ettttttttz3.
          ;t:tttttttttttttttt3e;:::::::l::::::3t:::::::::::::7211:::::::5t:::::::::::3EttttttttEF
          E:ttttttttttttttttttt3k:::::::.::::::tc::::::::::::::::::::::::::::::::::::Itttttttt3E.
         3::zttzzttttttttttttttt3tc:::!:!=:::::!t:::::::c:::::::::::::::::::::::::::3EtttttttZF
        t:ttttzttttttttttttttttt3L:::::::::::::3z:::::3zc::::::::::::::::::::::::::jttttt3@E
       JEtttttttttttttttttttttttyF::::::::::::::1;:::::::::jamieguerrero.com:::::JEttttt3E
      Jttttttttttttttttttttt3#F. ::::::::::::t:3E:::::::::::::::::::::::::::::::25tttttt3L
      :E:ttttttttttttttttttt[  ::::: ::::;::::t:JEz::::::::::::::::::::::::::::;Ettttttttt3c
     ;E;cztttttttttttttttttt[ ::::::::::::!c:;;=!55c::::::::::::::::::::::::::Z3tttttttttttt3zc
     E:Etcttttttttttttttttty.:::=.::::::::::\tF:::::::::::::::::::::::::::::z5tttttttttttttttttzt;
     ;t:::::::ttttttttttttt3F::::::2zx.:::::::!t::::::::]:::::::::::::::::;z5ttttttttttttttttttttttittc
:;tt!::::zttt::tttttttttttt3.:::::h/::::?=;::::3k;:::::zEc::::::::::::::;t3ttttttttttttttttttttttttttttzt
t5::::::zttttt:tttttttttttt3L:::::5L:::::::?c;:::1t:::;1tttz::::::::::ttttttttttttttttttttttttttttttttttttttt:
::::::::tttttt;:tttttttttttyL::;;;;2sc;:::::::::cz:::ttttttttttttttttttttttttttttttttttttttttttttttttttttttttt
::::::::tttttztctttttttttg#. ::::::::::35c;::::::::3cttttttttttttttttttttttttttttttttttttttttttttttttttttttttt
::::::tt:ttttttt:ttttttz#.   ::::::c:::::t::::::::::1ttttttttttttttttttttttttttttttttttttttttttttttttttttttttt
::z:t:tt::tttttt:3Z5t5QE.: ::::::::::::::1::zc::!113:ttttttttttttttttttttttttttttttttttttttttttttttttttttttttt
:zttttttzztttttt:zE!533Z5c.::::::::::::;zzI::::::::ttttttttztttttttttttttttttttttttttttttttttttttttttttttttttt
ttttzttttt:tttttztt:Zztt1;3Ec::::::!7::zZttz::::::tttttttttttttttttttttttttttttttttttttttttttttttttttttttttttt
ttttttttttttttttz35t[:tz1zc3E3c::::::::Ettttzz::::::tttttttttttttttttttttttttttttttttttttttttttttttttttttttttt
tttttttttttttttt3Ezt3tittEictz;1;:::::1tttttttt:;::::tttttttttttttzttttitttttttttttttttttttttttttttttttttttttt
tzttttttttittttZ5ctz1tI;z1t3511tt5;::J5ttttttttttz::::ztittt::::ttztttttzttttttttttttttttttttttttttttttttttttt
ttttttzttttttzZz:/tt1t3zicztztt1tt35c[tttttttttttttz::::::::::::::::::tttttttttttttttttttttttttttttttttttttttt
::::::::::::::::::::::::::::::: Handmade with ♥ and Grav for Chynna Tolibas ::::::::::::::::::::::::::::::::::
-->
{% set theme_config = attribute(config.themes, config.system.pages.theme) %}
<!DOCTYPE html>
<html lang="{{ grav.language.getActive ?: theme_config.default_lang }}">
<head>
{% block head %}
    <meta charset="utf-8" />
    <title>{% if header.title %}{{ header.title|e('html') }} | {% endif %}{{ site.title|e('html') }}</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% include 'partials/metadata.html.twig' %}

    <link rel="icon" type="image/png" href="{{ url('theme://images/logo.png') }}" />
    <link rel="canonical" href="{{ page.url(true, true) }}" />

    {% block stylesheets %}
        {% do assets.addCss('https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css', 99) %}
        {% do assets.addCss('theme://css/main.css', 98) %}
        {% do assets.addCss('https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.css', 97) %}
    {% endblock %}
    {{ assets.css() }}

    {% block javascripts %}
        {% do assets.addJs('http://code.jquery.com/jquery-2.1.4.min.js', {'priority':101, 'group':'bottom'}) %}
        {% do assets.addJs('theme://js/min/main-min.js', {'priority':100, 'group':'bottom'}) %}
        {% do assets.addJs('https://use.fontawesome.com/releases/v5.0.4/js/all.js', 99) %}
        {% do assets.addJs('https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.js', 98) %}
        {% do assets.addJs('https://maps.googleapis.com/maps/api/js?key=AIzaSyCteI3pxDlyIjyTNGs4Vz-fL1Ed-Sg8JXw&callback=initMap', {'priority':95, 'loading':'async defer', 'group':'bottom'}) %}
    {% endblock %}
    {{ assets.js() }}

{% endblock head%}
</head>
<body id="top" class="{{ page.header.body_classes }}">

{% block header %}
<div id="content-wrapper">
<div class="overlay overlay-hugeinc">
  <button type="button" class="overlay-close">Close</button>
    <!-- Mobile Nav -->
    {% block mobile_navigation %}
    <nav id="mobile-nav">
        {% include 'partials/navigation.html.twig' %}
    </nav>
    {% endblock %}
</div>
<header class="header-wrapper section-light">
  <img class="logo-img" src="{{url('theme://images/ctms-logo-2018.svg')}}">
  <div class="mobile-nav">
    <a id="trigger-overlay" class="menu-button" type="button" href="#">
      <i class="mobile-button fas fa-bars fa-2x"></i>
      <!-- <img class="mobile-button" src="{{url('theme://images/mobile-button.svg')}}"> -->
    </a>
  </div>
</header>
<a href="#_thestudio">
  <div class="arrow-wrapper">
    <div id="bouncing-arrow" class="arrow bounce">
      <i class="fas fa-angle-down"></i>
    </div>
    <p class="scroll-down-prompt">scroll down</p>
  </div>
</a>
{% block header_navigation %}
<div class="full-nav__wrapper">
  <nav id="full-nav">
      {% include 'partials/navigation.html.twig' %}
  </nav>
</div>
{% endblock %}
{% endblock %}

{% block body %}
  {% block content %}{% endblock %}
{% endblock %}

{% block map %}
<section>
  <div class="section-map">
    <div id="map"></div>
    <div class="map-overlay"><h1>BASED IN BRAMPTON. <br>AVAILABLE IN THE GTA.</h1></div>
  </div>
</section>
{% endblock  %}

{% block footer %}
<footer id="footer">
  <div class="footer-wrapper section-mid">
    <div class="footer--innerwrapper">
      <div class="contact-wrapper">
        <h1>get in touch today!</h1>
        <a href="mailto:chynna@ctmusicstudio.ca?Subject=Hi%20there">chynna@ctmusicstudio.ca</a>
      </div>
      <form method="POST" name="contactform" action="http://formspree.io/chynna@ctmusicstudio.ca">
        <input class="contact-form field" type="text" name="name" placeholder="name">
        <input class="contact-form field" type="text" name="email" placeholder="email">
        <textarea class="contact-form field contact-content" name="message" placeholder="message"></textarea>
        <input class="contact-form contact-button" type="submit" name="submit"><br>
      </form>
    </div>
  </div>
</footer>
{% endblock %}
</div>
{% block bottom %}
    {{ assets.js('bottom') }}
    {{ assets.js('map') }}
{% endblock %}

</body>
